.user-select-none {
  -moz-user-select: none;
  -webkit-user-select: none;
}
@font-face {
  font-family: NaukriFont;
  src: local('Lolita'), local('Heiti TC'), local('微軟正黑體');
}
@font-face {
  font-family: NaukriFont;
  unicode-range: U+00-024F;
  src: local('Comic Sans MS'), local('Arial');
}
@font-face {
  font-family: NaukriFont;
  unicode-range: U+3100-312F;
  src: local('LiHei Pro'), local('微軟正黑體');
}
@font-face {
  font-family: NaukriFont;
  unicode-range: U+3040-30FF;
  src: local('Hiragino Kaku Gothic Pro'), local(Meiryo);
}
body {
  font-family: NaukriFont, sans-serif;
  font-size: 24px;
  line-height: 1.5;
}
#layout {
  background-color: #1b1d1e;
}
#layout .container {
  max-width: 100%;
}
#layout .background {
  z-index: -99999;
  height: 100%;
  width: 100%;
  position: fixed;
}
.highlight .gutter {
  background-color: #232323;
  border-right: 1.5px solid #707070;
}
.highlight .gutter .line {
  color: #858585;
  padding-left: 5px;
  padding-right: 5px;
}
.highlight .code {
  background: #1e1e1e;
  padding-left: 10px;
  padding-right: 10px;
}
.highlight .code .line {
  color: #d4d4d4;
  width: 100%;
  display: inline-block;
}
.highlight .code .line:hover {
  background-color: #3e404a;
}
.highlight .code .keyword {
  color: #569cd6;
}
.highlight .code .built_in {
  color: #9cdcfe;
}
.highlight .code .type {
  color: #4ec9b0;
}
.highlight .code .literal {
  color: #499cd6;
}
.highlight .code .number {
  color: #b5cea8;
}
.highlight .code .string {
  color: #ce9178;
}
.highlight .code .class {
  color: #4ec9b0;
}
.highlight .code .function {
  color: #dcdcaa;
}
.highlight .code .title {
  color: #dcdcaa;
}
.highlight .code .params {
  color: #9cdcfe;
}
.highlight .code .comment {
  color: #6a9955;
}
.highlight .code .meta {
  color: #569cd6;
}
.highlight .code .name {
  color: #569cd6;
}
.highlight .code .attr {
  color: #9cdcfe;
}
.highlight .code .attribute {
  color: #9cdcfe;
}
.highlight .code .selector-tag {
  color: #d7ba7d;
}
.highlight .code .selector-id {
  color: #d7ba7d;
}
.highlight .code .selector-class {
  color: #d7ba7d;
}
.highlight .code .selector-attr {
  color: #dc6d36;
}
.highlight .code .selector-pseudo {
  color: #dc6d36;
}
#index-main .post {
  max-height: 700px;
  width: 100%;
  overflow: hidden;
  overflow-y: 500px;
  text-overflow: ellipsis;
  position: relative;
}
#index-main .post .more {
  position: absolute;
  bottom: 0%;
  height: 100px;
  width: 100%;
  opacity: 0.99;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #000, rgba(0,0,0,0));
}
#index-main .post .more .more-button {
  cursor: pointer;
  padding: 1px 10px;
  text-align: center;
  border: 2px 2px 2px 2px;
  border-radius: 20px;
  background-color: #1e1e1e;
  opacity: 0.9;
  box-shadow: 0 0 20px 0 #1e1e1e;
}
#index-main .post .more .more-button:hover {
  background-color: #0ff;
  opacity: 1;
  color: #000;
}
.archive {
  margin: 1em auto;
  padding: 30px 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
}
.archive .post-archive {
  list-style: none;
  padding: 0;
}
.archive .post-archive .post-item {
  margin: 5px 0;
}
.archive .post-archive .post-item .post-date {
  display: inline-block;
  margin-right: 10px;
  color: #bababa;
}
.archive .post-archive .post-item .post-title {
  color: #368ccb;
  text-decoration: none;
}
#header img {
  width: 100%;
  box-shadow: 0 0 20px 0 #1e1e1e;
}
#navbar {
  background-color: #181a1b !important;
  width: 100%;
  height: 70px;
  padding: 0px 24px;
  box-shadow: 0 0 20px 0 #393939;
  position: relative;
  z-index: 99999;
}
#navbar .navbar-brand {
  padding: 0px 0px;
}
#navbar .avatar {
  height: 3rem;
  width: 3rem;
}
#navbar .separator {
  margin: 0 4px;
  height: 40px;
  border-left: 1.5px solid rgba(255,255,255,0.7);
  align-self: center;
}
#navbar .dropdown:hover .dropdown-menu {
  display: block;
}
#navbar .dropdown-menu {
  background-color: #343a40;
}
#navbar .dropdown-item {
  font-size: 18px;
  color: #f0ffff;
}
#navbar .dropdown-item:hover {
  color: #343a40;
}
#navbar .active {
  opacity: 0.7;
}
#navbar .active:hover {
  opacity: 1;
}
.sidebar {
  margin: 20px auto;
  padding: 30px 50px;
  background-color: #171717;
  color: #f0ffff;
  box-shadow: 0 0 4px 0 #3e3e3e;
}
.index-pagination {
  text-align: center;
  font-family: 'Comic Sans MS';
  font-size: 28px;
  vertical-align: middle;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.index-pagination a {
  color: #204264;
  text-decoration: none;
}
.index-pagination a:hover {
  color: #f00;
}
.index-pagination .page-number {
  margin: 0 10px;
}
.index-pagination .current {
  color: #41a0cc;
  font-size: 32px;
  font-weight: bold;
}
.index-pagination .extend {
  font-size: 32px;
}
.index-pagination .prev {
  margin-right: 12px;
}
.index-pagination .next {
  margin-left: 12px;
}
.post {
  margin: 20px auto;
  background-color: #171717;
  opacity: 0.97;
  color: #c4c4c4;
  border-radius: 10px;
}
.post >.title {
  padding: 10px 30px 0 30px;
  zoom: 0.8;
  font-size: 52px;
}
.post >.title .link {
  display: inline;
  color: #c4c4c4;
  text-decoration: none;
}
.post >.title .link:hover {
  color: #368ccb;
}
.post >.title .time {
  font-size: 22px;
  color: #a4a4a4;
}
.post >.title .separator {
  margin: 4px auto;
  width: 100%;
  border-bottom: 3px solid rgba(255,255,255,0.7);
}
.post .content {
  padding: 10px 30px 0 30px;
  zoom: 0.8;
}
.post .content a {
  color: #368ccb;
  text-decoration: none;
}
